---
const platform ="github"
const username = "widthastro"

import Social from "./Social.astro";
---

<style>
  footer {
    display : flex;
    gap : 1rem;
    margin-top : 2rem;
  }
</style>
<footer>
  <p>voir le projet sur</p>
  
  <Social platform="twitter" username="astrodobuild"/>"
  <Social platform="github" username="widthastro"/>"
  <Social platform="youtube" username="widthastro"/>"
</footer>