---
const platform ="github"
const username = "widthastro"

import Social from "./Social.astro";
---

<style>
  .container-social{
    display : flex;
    gap : 1rem;
    margin-top : 2rem;
  }
</style>
<footer>
  <p>voir le projet sur</p>
  <div class="container-social">
    <Social platform="twitter" username="astrodobuild"/>"
    <Social platform="github" username="widthastro"/>"
    <Social platform="youtube" username="widthastro"/>"

  </div>
</footer>